* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url(../Fonts/GreatVibes-Regular.otf);
    font-family: 'EntezarB3_v2.0.1';
    src: url(../Fonts/EntezarB3_v2.0.1.ttf);
    font-family: 'IranNastaliq';
    src: url(../Fonts/IranNastaliq.ttf);
    font-family: 'BYekan+';
    src: url(../Fonts/BYekan+.ttf);
    font-family: 'Yekan';
    src: url(../Fonts/Yekan.ttf);
}

body {
    font-family: 'Yekan';
}

main {
    height: 2000px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/header-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-section {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-header {
    display: flex;
}

.main-nav {
    width: 84%;
    max-width: 84%;
    height: 50px;
    position: relative;
    z-index: 100;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.items {
    display: flex;
    position: absolute;
}

.item {
    display: flex;
    padding: 15px;
}

.item a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-family: 'BYekan+';
}

.item a:hover {
    color: orangered;
    transition: 0.5s;
}

.main-div-text {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20rem;
}

article h2 {
    color: black;
    margin-left: 1rem;
    font-family: 'BYekan+';
}

.main-div-text h1 {
    font-family: 'BYekan+';
    color: orangered;
    font-size: 30px;
}

.txt-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 2;
}

.footer-wrapper {
    width: 100%;
    height: 400px;
    background-image: url(../IMG/footer-background.jpg);
    background-position: 100% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    max-width: 84%;
    align-items: center;
}

.mg {
    margin: 20px 20px;
}

.footer-wrapper a {
    text-decoration: none;
    color: white;
}

.footer-sec {
    width: 100%;
    display: flex;
    margin: auto;
}

.about-us-txt {
    color: orangered;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.about-us-info {
    color: #ffffffbb;
    font-size: 12px;
    direction: rtl;
}

.footer-about-us {
    width: 25%;
}

.footer-about-us>h3 {
    padding-bottom: 40px;
}

.header-links {
    width: 25%;
}

.header-links-items {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.header-links-items li {
    direction: rtl;
    border-bottom: 1.5px dashed white;
    padding: 10px 0px;
    display: flex;
}

.header-links-items li a {
    color: #ffffffbb;
}

.header-links-items li::before {
    color: orangered;
    font-size: 15px;
    content: 'â†';
}

.first-container {
    width: 50%;
    margin: auto;
    height: 300px;
    background-color: black;
    display: flex;
    position: relative;
    margin-top: 560px;
}

.left-container {
    width: 40%;
    background-color: #fa4f19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container>.left-container>.left-container-txt>h2,
h3 {
    direction: rtl;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
}

.right-container {
    width: 60%;
    background-color: blue;
}

.right-container-top {
    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;
}

.box-1 {
    width: 50%;
    background-color: green;
}

.box-1-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2 {
    width: 50%;
    background-color: #fb0013;
}

.right-container-bottom {
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
}

.box-3 {
    width: 50%;
    background-color: #feb42d;
    display: flex;
    justify-content: center;
}

.right-container-txt {
    color: #ffffff;
    direction: rtl;
    text-align: center;
    margin-top: 15%;
}

.box-4 {
    width: 50%;
}

.box-4-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container-1 {
    width: 50%;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 18%;
    display: flex;
}

.main-container-1-left {
    width: 40%;
    display: flex;
    position: relative;
    margin-right: 5%;
}

.main-container-1-right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
}

.main-container-1-inner {
    width: 80%;
    background-color: yellow;
    height: 100%;
}

.main-container-1-sub {
    width: 50%;
    background-color: #181d33;
    height: 120px;
    position: absolute;
    margin-right: 209px;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-container-1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#container-1-sub-txt {
    font-size: 15px;
    color: #ffffff;
    direction: rtl;
    margin: auto;
    padding: 20px;
}

#container-1-left-txt {
    direction: rtl;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#container-1-left-txt-2 {
    direction: rtl;
    padding-top: 20px;
    color: #838383;
}

#container-1-left-btn {
    width: 110px;
    height: 30px;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #ff581d;
    color: #ffffff;
    border-color: #ff581d;
}

.main-container-2 {
    width: 50%;
    height: 300px;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 15%;
    justify-content: space-around;
}

.sub-container {
    width: 30%;
    height: 300px;
    display: flex;
    position: relative;
}

.sub-container-img-1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 100%;
}

.sub-container-txt {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    top: 67%;
    font-size: 13px;
    text-align: right;
    direction: rtl;
}

.sub-container-img-2 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 100%;
}

.main-container-3 {
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.container-slide {
    position: relative;
}

.mySlides {
    display: none;
}

.mySlides>img {
    width: 100%;
    height: 500px;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.demo {
    width: 100%;
    height: 80px;
}