* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url(../Fonts/GreatVibes-Regular.otf);
    font-family: 'EntezarB3_v2.0.1';
    src: url(../Fonts/EntezarB3_v2.0.1.ttf);
    font-family: 'IranNastaliq';
    src: url(../Fonts/IranNastaliq.ttf);
    font-family: 'BYekan+';
    src: url(../Fonts/BYekan+.ttf);
    font-family: 'Yekan';
    src: url(../Fonts/Yekan.ttf);
}

body {
    font-family: 'Yekan';
}

main {
    height: 2000px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/header-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-section {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-header {
    display: flex;
}

.main-nav {
    width: 84%;
    max-width: 84%;
    height: 50px;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.items {
    display: flex;
    position: absolute;
}

.item {
    display: flex;
    padding: 15px;
}

.item a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-family: 'BYekan+';
}

.item a:hover {
    color: orangered;
    transition: 0.5s;
}

.main-div-text {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20rem;
}

article h2 {
    color: black;
    margin-left: 1rem;
    font-family: 'BYekan+';
}

article h4 {
    margin-left: 2.5rem;
}

.main-div-text h1 {
    font-family: 'BYekan+';
    color: orangered;
    font-size: 30px;
}

.txt-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 2;
}

.footer-wrapper {
    width: 100%;
    height: 400px;
    background-image: url(../IMG/footer-background.jpg);
    background-position: 100% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    max-width: 84%;
    align-items: center;
}

.mg {
    margin: 20px 20px;
}

.footer-wrapper a {
    text-decoration: none;
    color: white;
}

.footer-sec {
    width: 100%;
    display: flex;
    margin: auto;
}

.about-us-txt {
    color: orangered;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.about-us-info {
    color: #ffffffbb;
    font-size: 12px;
    direction: rtl;
}

.footer-about-us {
    width: 25%;
}

.footer-about-us>h3 {
    padding-bottom: 40px;
}

.header-links {
    width: 25%;
}

.header-links-items {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.header-links-items li {
    direction: rtl;
    border-bottom: 1.5px dashed white;
    padding: 10px 0px;
    display: flex;
}

.header-links-items li a {
    color: #ffffffbb;
}

.header-links-items li::before {
    color: orangered;
    font-size: 15px;
    content: 'â†';
}

.first-container {
    width: 50%;
    margin: auto;
    height: 300px;
    background-color: black;
    display: flex;
    position: relative;
    margin-top: 560px;
}

.left-container {
    width: 40%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container>.left-container>.left-container-txt>h2,
h3 {
    direction: rtl;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
}

.right-container {
    width: 60%;
    background-color: blue;
}

.right-container-top {
    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;
}

.box-1 {
    width: 50%;
    background-color: green;
}

.box-1-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2 {
    width: 50%;
    background-color: orange;
}

.right-container-bottom {
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
}

.box-3 {
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.right-container-txt {
    color: #ffffff;
    direction: rtl;
    text-align: center;
    margin-top: 15%;
}

.box-4 {
    width: 50%;
    background-color: crimson;
}

.box-4-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}